{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        StaffNet Django
      {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css" />
    <script src="{% static 'js/flowbite.min.js' %}"></script>

    {% block extra_head %}

    {% endblock %}
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100">
    <header class="bg-white shadow">
      <nav class="container mx-auto px-6 py-3">
        <div class="flex justify-between items-center">
          <div class="text-xl font-semibold text-gray-700">
            <a href="{% url 'employees-list' %}">StaffNet</a>
          </div>
          <div class="space-x-4">
            <a href="{% url 'employees-list' %}" class="text-gray-600 hover:text-gray-900">Empleados</a>
            <a href="{% url 'employee-create' %}" class="text-gray-600 hover:text-gray-900">Ingresar empleado</a>
          </div>
        </div>
      </nav>
    </header>

    <main class="flex-grow container mx-auto px-6 py-8">
      {% block content %}

      {% endblock %}
    </main>

    <footer class="bg-white shadow mt-8">
      <div class="container mx-auto px-6 py-4">
        <div class="text-center text-gray-600 text-sm">
          &copy;{% now 'Y' %}StaffNet. Todos los derechos reservados.
        </div>
      </div>
    </footer>

    {% block extra_body %}

    {% endblock %}
  </body>
</html>
