{% extends 'employees/base.html' %}
{% load static %}

{% block title %}
  {{ view_type }} Empleado
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/employee_form.css' %}" />
  <script src="{% static 'js/employee_form.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">{{ view_type }} Empleado</h1>
    {% if view_type == 'Crear' %}
      <p class="mb-6 text-gray-600">Complete la información para crear un nuevo empleado.</p>
    {% else %}
      <p class="mb-6 text-gray-600">
        Aquí puedes actualizar la información de <strong>{{ employee.full_name }}</strong>.
      </p>
    {% endif %}

    <form method="post" enctype="multipart/form-data" id="employee-form" class="space-y-8">
      {% csrf_token %}
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="bg-white shadow-md rounded-lg p-6 transition-shadow hover:shadow-lg flex flex-col h-full">
          <h2 class="text-xl font-semibold mb-4 text-gray-800">Información personal</h2>
          <!-- Image Block -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-1 items-center">
            <div class="p-6 w-full flex justify-center items-center">
              <img id="profile-picture-preview" src="{% static 'images/default-avatar.webp' %}" alt="Profile Picture" class="rounded-full shadow-md w-32 h-32 border border-gray-300 object-cover" />
            </div>
            <div>
              <label class="block text-gray-700 text-base font-bold mb-2" for="id_personal_info-photo">Foto de perfil</label>
              <div class="relative">
                <input type="file" id="id_personal_info-photo" name="personal_info-photo" class="hidden" accept="image/*" />
                <label for="id_personal_info-photo" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                  <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                  </svg>Elegir archivo
                </label>
              </div>
            </div>
          </div>

          <!-- Personal Info Fields -->
          <div class="space-y-4">
            {% for field in personal_info_form %}
              {% if field.name != 'photo' %}
                <div class="form-group">
                  <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ field.label }}</label>
                  {{ field }}
                  {% if field.errors %}
                    <p class="errors">{{ field.errors|join:', ' }}</p>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <!-- Non-field errors -->
          {% if personal_info_form.non_field_errors %}
            <div class="non-field-errors">
              <ul class="mt-2 list-disc list-inside">
                {% for error in personal_info_form.non_field_errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>

        <div class="bg-white shadow-md rounded-lg p-6 transition-shadow hover:shadow-lg">
          <h2 class="text-xl font-semibold mb-4 text-gray-800">Detalles del empleado</h2>
          <div class="space-y-4">
            <!-- Employment Details Fields -->
            {% for field in employment_details_form %}
              {% if field.field.widget.input_type == 'checkbox' %}
                <div class="form-group flex items-center">
                  {{ field }}
                  <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold">{{ field.label }}</label>
                </div>
              {% elif '(LEGADO)' in field.label and not field.value %}
                {% comment %}TODO: Do the input field unusable{% endcomment %}
              {% else %}
                <div class="form-group">
                  <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ field.label }}</label>
                  {{ field }}
                  {% if field.errors %}
                    <p class="errors">{{ field.errors|join:', ' }}</p>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <!-- Non-field errors -->
          {% if employment_details_form.non_field_errors %}
            <div class="non-field-errors">
              <ul class="mt-2 list-inside">
                {% for error in employment_details_form.non_field_errors %}
                  <li>* {{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>

        <div class="bg-white shadow-md rounded-lg p-6 transition-shadow hover:shadow-lg">
          <h2 class="text-xl font-semibold mb-4 text-gray-800">Contacto de emergencia</h2>
          <div class="space-y-4">
            <!-- Emergency Contact Fields -->
            {% for field in emergency_contact_form %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                  <p class="errors">{{ field.errors|join:', ' }}</p>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <!-- Non-field errors -->
          {% if emergency_contact_form.non_field_errors %}
            <div class="non-field-errors">
              <ul class="mt-2 list-disc list-inside">
                {% for error in emergency_contact_form.non_field_errors %}
                  <li>* {{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>

        <div class="bg-white shadow-md rounded-lg p-6 transition-shadow hover:shadow-lg">
          <h2 class="text-xl font-semibold mb-4 text-gray-800">Educación</h2>
          <div class="space-y-4">
            <!-- Education Fields -->
            {% for field in education_form %}
              {% if field.field.widget.input_type == 'checkbox' %}
                <div class="form-group flex items-center">
                  {{ field }}
                  <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold">{{ field.label }}</label>
                </div>
              {% else %}
                <div class="form-group">
                  <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ field.label }}</label>
                  {{ field }}
                  {% if field.errors %}
                    <p class="errors">{{ field.errors|join:', ' }}</p>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <!-- Non-field errors -->
          {% if education_form.non_field_errors %}
            <div class="non-field-errors">
              <ul class="mt-2 list-disc list-inside">
                {% for error in education_form.non_field_errors %}
                  <li>* {{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>

        <div class="bg-white shadow-md rounded-lg p-6 transition-shadow hover:shadow-lg">
          <h2 class="text-xl font-semibold mb-4 text-gray-800">Información de contacto</h2>
          <div class="space-y-4">
            <!-- Contact Info Fields -->
            {% for field in contact_info_form %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                  <p class="errors">{{ field.errors|join:', ' }}</p>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <!-- Non-field errors -->
          {% if contact_info_form.non_field_errors %}
            <div class="non-field-errors">
              <ul class="mt-2 list-disc list-inside">
                {% for error in contact_info_form.non_field_errors %}
                  <li>* {{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>

        {% if view_type == 'Crear' %}
          <div class="bg-white shadow-md rounded-lg p-6 transition-shadow hover:shadow-lg">
            <h2 class="text-xl font-semibold mb-4 text-gray-800">Terminación de contrato</h2>
            <div class="space-y-4">
              <!-- Termination Details Fields -->
              {% for field in termination_details_form %}
                {% if field.field.widget.input_type == 'checkbox' %}
                  <div class="form-group flex items-center">
                    {{ field }}
                    <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold">{{ field.label }}</label>
                  </div>
                {% else %}
                  <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                      <p class="errors">{{ field.errors|join:', ' }}</p>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <!-- Non-field errors -->
            {% if termination_details_form.non_field_errors %}
              <div class="non-field-errors">
                <ul class="mt-2 list-disc list-inside">
                  {% for error in termination_details_form.non_field_errors %}
                    <li>* {{ error }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>

      <div class="mt-8 flex justify-end gap-4">
        <a href="{% url 'employees-list' %}" class="bg-gray-200 hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Cancelar</a>
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Guardar</button>
      </div>
    </form>
  </div>
{% endblock %}
